[Unit]
Description=A wrapper to start the Matrix daemon.
After=network.target
Requires=network.target

[Service]
User=www-data
Group=www-data
Type=forking
PIDFile=/var/run/scale/matrix.pid
ExecStart=/opt/wrappers/matrix-wrapper
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /var/run/scale/matrix.pid
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
