[Unit]
Description=A wrapper for OBS for use with Scale AV. Go team!
After=network.target

[Service]
Type=forking
PIDFile=/opt/obs/logs/obs.pid
ExecStart=/opt/obs/bin/obs-wrapper
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /opt/obs/logs/obs.pid
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
