[Unit]
Description=A wrapper to dump OBS to disk for use with Scale AV. Go team!
After=obs.service

[Service]
User=www-data
Group=www-data
Type=forking
PIDFile=/var/run/scale/todisk.pid
ExecStart=/opt/wrappers/todisk-wrapper
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /var/run/scale/todisk.pid
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
